<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    </head>
    <body>
        <header id="header">
            <span id="prev" class="material-symbols-rounded">chevron_left</span>
            <h1 id="currentMonthYear">November 2022</h1>
            <span id="next" class="material-symbols-rounded">chevron_right</span>
        </header>
        <div class="container">
            <div class="habits">
                <li id="0">Habit 1</li>
                <li id="1">Habit 2</li>
                <li id="2">Habit 3</li>
                <li id="3">Habit 4</li>
                <li id="4">Habit 5</li>
            </div>
            <div lass="calendar">
                <ul class="weekdays">
                    <li>
                    <abbr title="S">Sunday</abbr>
                    </li>
                    <li>
                    <abbr title="M">Monday</abbr>
                    </li>
                    <li>
                    <abbr title="T">Tuesday</abbr>
                    </li>
                    <li>
                    <abbr title="W">Wednesday</abbr>
                    </li>
                    <li>
                    <abbr title="T">Thursday</abbr>
                    </li>
                    <li>
                    <abbr title="F">Friday</abbr>
                    </li>
                    <li>
                    <abbr title="S">Saturday</abbr>
                    </li>
                </ul>

                <ol class="day-grid">
                
                </ol>
            </div>
        </div>
    </body>
    <script src="static/script.js"></script>
</html>